@font-face {
  font-family: "nobileregular";
  src: url("../fonts/nobile-regular-webfont.woff2") format("woff2"), url("../fonts/nobile-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-button: #2ba1ff;
  --color-blue-chronoFit: rgb(43, 161, 255);
  --color-border: grey;
  --color-border-container: red;
  --color-interval-normal: rgb(194, 227, 255);
  --color-font-dark: rgb(56, 56, 56);
  /* A remettre en plus clair qd ok */
  --color-font-light: rgb(199, 199, 199);
  --border-radius: 3px;
}

/* --- GENERAL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nobileregular";
}

header {
  width: 100%;
}
header ul {
  display: flex;
  justify-content: center;
}
header ul li {
  list-style: none;
  font-size: 0.7rem;
  padding: 15px 5px;
  margin: 5px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  font-weight: 700;
  background-color: var(--color-blue-chronoFit);
}

h1 {
  font-size: 2rem;
}

h1 span {
  font-size: 0.5em;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-font-light);
  text-decoration: none;
}

img {
  width: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  color: var(--color-font-dark);
  padding: 8px;
  background-color: white;
}
.container h1 {
  width: 100%;
  margin: 5px 0;
  text-align: center;
}

/* --- LOGIN ---*/
.container__login__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
}
.container__login__form .container__login__form__item {
  margin: 20px 10px;
}
.container__login__form .container__login__form__row {
  display: flex;
}

/* --- LANDING --- */
.landing {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 15px;
}

/* --- EXOS --- */
/* --- TIMER --- */
.timer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: white;
}
.timer__intervals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 1%;
}
.timer__intervals__list {
  display: flex;
  flex-direction: column;
}
.timer__creation {
  position: fixed;
  width: 50%;
  top: 140px;
  right: 0;
  padding: 1% 1% 1% 2%;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
}
.timer__creation__intervalName {
  font-size: 18px;
  width: 90%;
}
.timer__creation__duration {
  width: 90%;
  font-size: 25px;
}
.timer__creation__total {
  font-size: 1.5rem;
}
.timer__read {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.timer__read__hidden {
  position: fixed;
  top: -100%;
  transition: top 300ms;
}
.timer__read__show {
  transition: top 300ms;
  top: 0;
}
.timer__read__close {
  align-self: flex-end;
  padding: 10px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  margin: 10px;
}
.timer__read__exoName {
  width: 90%;
  font-size: 40px;
  height: 120px;
  text-align: center;
  box-shadow: 0 0 10px 3px rgba(30, 30, 30, 0.2);
}
.timer__read__totalTime span {
  width: 90%;
  font-size: 30px;
  padding: 0 15px;
  margin: 0 20px;
  box-shadow: 0 0 10px 3px rgba(30, 30, 30, 0.2);
}
.timer__timeDisplay {
  width: 100%;
  font-size: 100px;
  text-align: center;
}
.timer__trash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.timer__controls {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__controls__row {
  width: 90%;
  display: flex;
}

.interval {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-interval-normal);
  border-radius: var(--border-radius);
  color: var(--color-font-dark);
  font-weight: 700;
}

.drop {
  min-height: 15px;
  transition: min-height 200ms;
}

.--isDraggedOver {
  min-height: 50px;
  opacity: 0.7;
  transition: min-height 200ms;
}

.--trash {
  background-color: var(--color-border);
  color: var(--color-font-light);
  font-weight: 700;
  width: 90%;
}

/* --- MODIFIER --- */
.--big-button {
  background-color: var(--color-button);
  width: 90%;
  min-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-font-light);
  margin: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
}